name: Check firmware update

on:
  workflow_dispatch:
  push:

jobs:
  update:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      max-parallel: 2
      matrix:
        include:
          - model: "SM-G950N"
            region: "KTC"
          - model: "SM-G955N"
            region: "KTC"
          - model: "SM-N950N"
            region: "KTC"
          - model: "SM-G955F"
            region: "DBT"
          - model: "SM-G950F"
            region: "DBT"
          - model: "SM-N950F"
            region: "CDR"

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          submodules: true

      - name: Compare latest version with current version
        id: check
        run: |
          need_update=0
          latest=`curl --retry 5 --retry-delay 5 http://fota-cloud-dn.ospserver.net/firmware/${{ matrix.region }}/${{ matrix.model }}/version.xml | grep latest | sed 's/^[^>]*>//' | sed 's/<.*//'`
          latest_short=`echo $latest | cut -d'/' -f1`
          latest_csc=`echo $latest | cut -d'/' -f2`
          latest_modem=`echo $latest | cut -d'/' -f3`
          current=`cat current.${{ matrix.model }}` || need_update=1
          [[ $latest != $current ]] && need_update=1
          echo "latest_version=$latest" >> $GITHUB_ENV
          echo "latest_shortversion=$latest_short" >> $GITHUB_ENV
          echo "latest_cscversion=$latest_csc" >> $GITHUB_ENV
          echo "latest_modemversion=$latest_modem" >> $GITHUB_ENV
          echo "need_update=$need_update" >> $GITHUB_ENV

      - name: Install dependencies
        if: env.need_update == 1
        run: |
          sudo apt-get update
          sudo apt-get install -y liblz4-tool zip
          sudo wget -O /usr/bin/samfirm https://github.com/ananjaser1211/SamFirm.NET/releases/latest/download/linux-x64 && sudo chmod +x /usr/bin/samfirm

      - name: Fetch firmware
        if: env.need_update == 1
        run: samfirm -m ${{ matrix.model }} -r ${{ matrix.region }}

      - name: Print directory structure
        if: env.need_update == 1
        run: ls -la ${{ matrix.model }}_${{ matrix.region }}

      - name: Get path of files
        if: env.need_update == 1
        id: files
        run: |
          echo "bl=`find -name BL*`" >> $GITHUB_ENV
          echo "ap=`find -name AP*`" >> $GITHUB_ENV
          echo "cp=`find -name CP*`" >> $GITHUB_ENV
          echo "csc=`find -name HOME_CSC*`" >> $GITHUB_ENV

      - name: Check downloaded firmware version
        if: env.need_update == 1
        run: |
          version_short=`echo ${{ env.ap }} | cut -d'_' -f3`
          version_csc=`echo ${{ env.csc }} | cut -d'_' -f5`
          version_modem=`echo ${{ env.cp }} | cut -d'_' -f3`
          changelist=`echo ${{ env.ap }} | cut -d'_' -f4`
          [[ $version_short == ${{ env.latest_shortversion }} ]]
          [[ $version_csc == ${{ env.latest_cscversion }} ]]
          [[ $version_modem == ${{ env.latest_modemversion }} ]]
          echo PDA version: $version_short > versions.txt
          echo CSC version: $version_csc >> versions.txt
          echo Modem version: $version_modem >> versions.txt
          echo Changelist: $changelist >> versions.txt

      - name: Print available disk space
        if: env.need_update == 1
        run: |
          pwd
          sudo df -h
          
      - name: Create zip environment
        if: env.need_update == 1
        run: |
          target_device=`echo ${{ matrix.model }} | cut -d'-' -f2`
          target_version=${{ env.latest_shortversion }}
          mkdir -p $target_version
          cp -r META-INF $target_version
          sed -i "s/target_device/$target_device/g" $target_version/META-INF/com/google/android/updater-script
          sed -i "s/target_version/$target_version/g" $target_version/META-INF/com/google/android/updater-script
          
      - name: Extract images from AP/BL and create zip
        if: env.need_update == 1
        id: releases
        run: |
          target_version=${{ env.latest_shortversion }}
          bls=(cm.bin modem.bin sboot.bin up_param.bin)
          tar xvf ${{ env.bl }} 
          tar xvf ${{ env.cp }}
          for i in `ls | grep lz4`; do lz4 -dm $i ; rm -rf $i; done
          for i in ${bls[@]}; do [[ -e $i ]] && mv $i $target_version/$i; done
          cd $target_version
          zip -r ../$target_version-twrp_flashable.zip *
          rm -rf META-INF
          tar cvf ../$target_version-odin_flashable.tar *
          cd ..
          echo "zip=`find -name $target_version-twrp_flashable.zip`" >> $GITHUB_ENV
          echo "tar=`find -name $target_version-odin_flashable.tar`" >> $GITHUB_ENV

      - name: Update current version
        if: env.need_update == 1
        run: |
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git pull origin ${{github.ref}} --ff-only
          echo ${{ env.latest_version }} > current.${{ matrix.model }}
          git add current.${{ matrix.model }}
          git commit -m "${{ matrix.model }}: ${{ env.latest_version }}"
          git tag ${{ env.latest_shortversion }}

      - name: Push changes to repo
        if: env.need_update == 1
        uses: ad-m/github-push-action@master
        with:
          tags: true
          github_token: ${{ secrets.TOKEN }}

      - name: Upload release assets
        if: env.need_update == 1
        uses: CaptainThrowback/action-gh-release@master
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
        with:
          body_path: versions.txt
          tag_name: ${{ env.latest_shortversion }}
          files: |
            ${{ env.zip }}
            ${{ env.tar }}
